:root {
    font-size: 18px;
}

body {
    background-image: linear-gradient(180deg, #192E10, #091503, #192E10);
    background-repeat: no-repeat;
    width: vw;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Playfair Display";
    font-size: 2em;
    font-weight: 400;
    color: #192E10;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Playfair display';
    font-size: 1.7em;
    font-weight: 600;
    color: #192E10;
    margin: 16px 0px
}

h3 {
    font-family: 'Nunito Sans';
    font-size: 1.2em;
    color: #192E10;
}

h4 {
    font-family: 'Playfair display';
    font-weight: 400;
    font-size: 1.1em;
    color: #192E10;
}
.subhead {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #192E10;
    margin: 10px 0px;
    margin-bottom: 24px;
}

p {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-kerning: 5px;
    color: #192E10;
}

/* ---------------------------Nav Bar---------------------------
------------------------------Nav Bar---------------------------
------------------------------Nav Bar--------------------------- */
.nav {
    display: flex;
    justify-content: space-between;
    background-color: #FCF7F2;
    color: #192E10;
    padding-top: 32px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 72px;
    margin-bottom: 93px;
    margin-top: 0;
    margin-left: 0;
    align-items: center;
    z-index: 1;
}
.nav ul {
    list-style-type: none;
    position: bottom;
    padding-right: 100px;
    margin: 0;
    font-family: 'Playfair display';
    font-size: 1.2em;
    text-align: right;
}

.nav li {
    display: inline;
    padding-left: 44px;
    padding-right: 44px;
    transition: linear .15s;
    cursor: pointer;
}

.logo-wrapper {
    display: block;
    margin-left: 100px;
    padding-bottom: 16px;
    align-items: left;
    justify-content: center;
    cursor: pointer;
}

.nav a {
    text-decoration: none;
    color: #192E10
}

.nav a:hover {
    color: #D68D1F;
}


/* ---------------------------Home---------------------------
------------------------------Home---------------------------
------------------------------Home--------------------------- */

.intro {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 167%;
    letter-spacing: .05em;
    color: #f7f7f7;
    margin-top: -40px;
    padding-bottom: 10px;
}

.moreinfo {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    margin-bottom: 38px;
    color: #f7f7f7;
}

.grid_item_1 {
    width: 45%
}

.grid_item_2 {
    width: 45%;
}

.mylogo {
    position: absolute;
    left: 63%;
    max-width: 50%;
}


/* ------------------------------Buttons---------------------------------
------------------------------------Buttons---------------------------------
----------------------------------------Buttons--------------------------------- */
.primary-button {
    background-color: #40AAE5;
    color: #f4f4f4;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    width: 350px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: .01em;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: ease-in .2s;
}

.primary-button:hover {
    background-color: #0392eb;
    color: #f4f4f470;
}

.secondary-button {
    background-color: #FAF2EB;
    color: #40AAE5;
    border: none;
    border-radius: 8px;
    border-color: #40AAE5;
    border: 2px;
    border-style: solid;
    box-sizing: border-box;
    width: 350px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: .08em;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 32px;
    transition: ease-in .2s;
}
.secondary-button:hover {
    background-color: #c1b0a150;
}

.footer-button{
    background-color: #40AAE5;
    color: #f4f4f4;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    width: 150px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: .01em;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: ease-in .2s;
}


.grid_item_2 {
    align-content: center;
    justify-content: center;
    position: static;
    top: 50%;
    left: 50%;
}

.featured {
    background: #FCF7F2;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 48px;
    padding-top: 16px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

/* .section-heading {
    padding-top: 40px;
    padding-bottom: 40px;
    width: auto;
} */

/* -----Featured Section------ */

.item-flex-container {
    display: flex;
    padding-top: 10px;
    margin-bottom: 0;
    column-gap: 10%;
    justify-content: space-between;
}
.home-item1 .home-item2 {
    max-width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 350;
}

.Hero_Grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 100px;
    column-gap: 2em;
    position: sticky;
    top: 300px;
}



/* ----------------------Footer----------------------
-------------------------Footer----------------------
-------------------------Footer---------------------- */
.footer {
    background-image: linear-gradient(180deg, #192E10, #091503);
    background-repeat: no-repeat;
    width: vw;
    margin: 0;
    transform: scale(1);
    padding-top: 80px;
}

.footer_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10em;
    padding-right: 100px;
    padding-left: 100px;
    align-items: center;
    justify-content: space-between;
}

.footer-button-container{
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #091503;
    height: 160px;
    padding-top: 72px;
}

.footername {
    font-family: 'Nunito sans';
    font-size: 16px;
    color: #f6f6f6;
    font-weight: 600;
}

.footertext {
    font-family: 'Nunito sans';
    font-size: 16px;
    color: #f6f6f6;
    font-weight: 400;
}

.logo-grid {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.logo-grid-item {
    margin: 0px;
}

.more-projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-top: 60px
}
.more-projects-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 40px;
}

/* --------------------------------------------------Projects--------------------------------------------------
-----------------------------------------------------Projects--------------------------------------------------
-----------------------------------------------------Projects--------------------------------------------------*/

.projects_grid_wrapper {
    padding-top: 200px;
    padding-bottom: 80px;
}

.projects_page_grid {
    display: grid;
    margin-top: 56px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 80px;
    justify-content: space-between;
}

.item-image{
max-width: 100%;
}

.item-image1{
    max-width: 90%;
}

.project-grid-item {
    max-width: 25em;
    height: 632px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* --------------------------------------------------Contact--------------------------------------------------
-----------------------------------------------------Contact--------------------------------------------------
-----------------------------------------------------Contact--------------------------------------------------*/
.contact {
    padding-top: 170px;
    background-color: #FCF7F2;
    padding-left: 100px;
    padding-right: 100px;
}

.contact-container {
    display: grid;
    margin-top: 40px;
    max-width: 100%;
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .30fr 1fr .70fr;
    grid-template-areas: "name email subject" "message message message" "button button button"
}

#name {
    grid-area: name;
    display: flex;
    flex-direction: column;
    max-height: 70px;
    min-width: 120px;
}

#email {
    grid-area: email;
    display: flex;
    flex-direction: column;
    max-height: 70px;
    min-width: 120px;
}

#subject {
    grid-area: subject;
    display: flex;
    flex-direction: column;
    max-height: 70px;
    min-width: 120px;
}

#message {
    grid-area: message;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 20%;
    padding-right: 20%;
    min-width: 120px;
}

#button-container {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    max-height: 70px;
    min-width: 120px;
}

input {
    width: 100%;
    min-height: 48px;
    border: transparent;
    border-radius: 8px;
    margin-top: 8px;
    font-size: 1em;
    text-indent: 16px;
    outline: none;
}

textarea {
    width: 100%;
    height: 200px;
    border: transparent;
    border-radius: 8px;
    margin-top: 8px;
    font-size: 1em;
    font-family: "Nunito Sans";
    text-indent: 16px;
    outline: none;
    resize: none;
}

label {
    font-family: "Nunito Sans";
    font-weight: 600;
    color: #192E10;
}

.individual-project {
    background: #FCF7F2;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 32px;
}
    

.case-study{
    padding-top: 144px;
    background-color: #FCF7F2;
}

/* --------------------------------------GoCreate------------------------------------- */
/* --------------------------------------GoCreate------------------------------------- */
/* --------------------------------------GoCreate------------------------------------- */
.gocreate-grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "left right"
    "left right";
    gap: 10%
}

.overview-columns{display: grid;
    grid-auto-flow: column;
    padding-top: 64px;
    padding-bottom: 64px;

}

.grid1-left-side{
    background-color: #40AAE5;
    grid-area: "left";
}

.grid1-right-side{
    grid-area: "right";
}

/* --------------------------Chat Simulation--------------------------
-----------------------------Chat Simulation--------------------------
-----------------------------Chat Simulation-------------------------- */

hr{
    width: 50px;
}

.chat-1{
   display:flex;
   flex-direction: column;
}
.chat-2{
   display:flex;
   flex-direction: column;
}

.chat-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.chat2-content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.time{
    margin-left: 16px;
    margin-right: 16px;
    width:fit-content;
    font-family: Arial, Helvetica, sans-serif;
}

.chat-1 .p1{
    background-color: #4337C7;
    color: #fcfcfc;
    max-width: 500px;
    padding: 8px 16px;
    border-radius: 16px;
}

.chat-2 .p1{
    background-color: #4337C7;
    color: #fcfcfc;
    padding: 8px 16px;
    border-radius: 16px;
}

.chat-1 .p2{
    background-color: #E2E2E2;
    max-width: 500px;
    padding: 8px 16px;
    border-radius: 16px;
}

.chat-2 .p2{
    background-color: #E2E2E2;
    max-width: 500px;
    padding: 8px 16px;
    border-radius: 16px;
}

.problem-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "left right";
    align-items: center;
    gap: 10%;
    margin-top:72px;
    margin-bottom: 72px;
}

.problem-grid-left{
    grid-area: left;

}

.problem-grid-right{
    grid-area: right;

}

.process-overview-graphic{display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;  
}

.process-overview1  {
    max-width: 188px;
}
.process-overview2  {
    max-width: 188px;
}
.process-overview3  {
    max-width: 188px;
}
.process-overview4  {
    max-width: 188px;
}
.process-overview5  {
    max-width: 188px;
}

.headshots-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 48px;
}
.user-interview-headshots{
    max-width: 255px;
    text-align: center;
}

.empathy-map-wrapper{display: flex;
    justify-content: center;
    margin-top: 24px;}

.GoCreate-Empathy-Map{
    border: #192E10;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px;
    width: 75%;
    column-gap: 100px;
    row-gap: 48px;
}

.imported-graphic{
display: flex;
justify-content: center;
margin-top: 48px;
margin-bottom: 48px;
}

.design-goal-grid{
    display: flex;
    justify-content: space-evenly;
    margin-top: 48px;
    margin-bottom: 64px;
}

.goal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.sketches-container{
    margin-top: 72px;
    margin-bottom: 72px;
}

.sketches-grid{    
display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "sketch-1 sketch-2"
    "sketch-1 sketch-3";
    column-gap: 20px;
    row-gap: 16px;
}

.sketch-1 {
    grid-area: sketch-1;
    max-width: 750px;
    align-self: center;
}
.sketch-2 {
    grid-area: sketch-2;
    max-width: 425px;
    align-self: center;
}

.sketch-3 {
    grid-area: sketch-3;
    max-width: 425px;
    align-self: center;
}

.wireframe-images{
    width: 45%;
}

.final-mockups{
    display: flex;
    justify-content: space-around;
    margin-top: 72px;
}


.testing-highlights{
    display: flex;
    justify-content: space-between;
}

.testing-highlight-item{
width: 400px;
flex-direction: column;
}
 .testing-highlight-item img{
     box-shadow: 1px 4px 4px #192E1025;
 }

.more-work-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.more-work-grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

/* --------------------------------------Media Queries------------------------------------- */
/* --------------------------------------Media Queries------------------------------------- */
/* --------------------------------------Media Queries------------------------------------- */
@media screen and (max-width: 768px){
    h1{
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
    .nav {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 16px;
    }
    .nav ul {
        display: block;
        padding: 0px 48px;
        width: 100%;
        text-align: center;
    }
    .nav li {
        display: inline;
        transition: linear .15s;
        padding: 16px;
    font-size: 16px;}

       .logo-wrapper {
        margin-left: 48px;
        align-items: left;

        cursor: pointer;



    }

/* -----------------------------------------Contact----------------------------------------- */
/* -----------------------------------------Contact----------------------------------------- */
/* -----------------------------------------Contact----------------------------------------- */

@media screen and (max-width: 768px) {
    .contact-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .25fr .25fr .25fr 1fr .25fr;
        grid-template-areas: "name" "email" "subject" "message" "button"
    }
    .contact {
        padding-top: 25vh;
        padding-left: 24px;
        padding-right:24px;
        padding-bottom: 24px;

    }
    #message {
        padding-left: 1%;
        padding-right: 1%;
    }
}

@media (max-width:1152px) {
    .intro {
        padding-bottom: 10px;
        font-size: 22px;
    }
    .moreinfo {
        font-size: 16px;
        line-height: 120%;
    }
    ul {
        font-size: 1em;
    }

    .footer_grid{
        padding-left: 48px;
        padding-right: 48px;
}}

/* ---------------------Home Screen Mobile Media------------------- */
/* ---------------------Home Screen Mobile Media------------------- */
/* ---------------------Home Screen Mobile Media------------------- */

    .intro {
        padding-bottom: 0px;
        margin: 0;
        margin-bottom: 64px;
    }
    .moreinfo {
        display: none
    }
    .Hero_Grid {
        display: flex;
        grid-template-columns: 1fr;
        flex-direction: column-reverse;
        margin-top: 120px;
        margin-left: 48px;
        margin-right: 48px;
        row-gap: 2em;
        position: sticky;
        top: 120px;
        align-items: left;
    }
    .grid_item_1 {
        align-items: center;
        width: 100%
    }
    .grid_item_2 {
        height: 200px;
        margin-bottom: 64px;
        justify-content: flex-start;
    }
    .mylogo {
        position: relative;
        left: 0;
        transform: scale(.45);
    }
    .featured {
        grid-template-columns: 1fr;
        padding-left: 48px;
        padding-right: 48px;
        border-top-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }
        .item-flex-container {
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            margin-bottom: 0;
            row-gap: 5em;
            justify-content: space-between;
        }
    .footer_grid {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        gap: .5em;
        align-items: center;
        justify-items: space-evenly;
    }
    .footer {
        padding-top: 16px;
    }
    .footername {
        font-family: 'Nunito sans';
        font-size: 12px;
        color: #f6f6f6;
        font-weight: 600;
    }
    .footertext {
        font-family: 'Nunito sans';
        font-size: 12px;
        color: #f6f6f6;
        font-weight: 400;
    }
    .footer-button-container{
        display: flex;

    }
.footer-name-grid{
    display: flex;
}

/* -----------------------------------------Projects----------------------------------------- */
/* -----------------------------------------Projects----------------------------------------- */
/* -----------------------------------------Projects----------------------------------------- */
    .projects_page_grid {
        display: grid;
        margin-top: 56px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 56px;
        column-gap: 56px;
}

@media screen and (max-width: 768px) {
    .projects_page_grid {
        display: grid;
        margin-top: 56px;
        grid-template-columns: (1fr);
        grid-template-rows: auto;
        row-gap: 56px;
        justify-content: space-evenly;
    }
    .project-grid-item {
        max-width: 25em;
        height: 532px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    
}
    
/* -----------------------------------------GoCreate----------------------------------------- */
/* -----------------------------------------GoCreate----------------------------------------- */
/* -----------------------------------------GoCreate----------------------------------------- */
@media screen and (max-width: 768px) {
    .individual-project {
        background: #FCF7F2;
        padding: 16px 48px 0 48px;
    }

    .imported-graphic{
        display: flex;
        justify-content: center;
        margin:0 0 24px 0;
    
        }
    .process-overview-graphic{display: none;
        justify-content: center;
        margin-top: 48px;
        margin-bottom: 48px;  
    }
    .headshots-wrapper{
        display: flex;
        flex-direction: column;
        margin-top: 48px;
        margin-bottom: 48px;
    }
    .user-interview-headshots{
        display: flex;
        max-width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: space-around;
    }

    .individual-headshot{
        display: flex;
        gap: 20px;
    }

    .headshot{
        max-inline-size:20vw;
    }

    .GoCreate-Empathy-Map{
        border: #192E10;
        border-style: solid;
        border-radius: 30px;
        border-width: 1px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 16px;
        width: 100%;
        row-gap: 8px;
        margin-bottom: 48px;
    }

.sketches-grid{    
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "sketch-1" 
        "sketch-2" 
        "sketch-3";
        column-gap: 20px;
        row-gap: 16px;
}
.sketch-1 {
    grid-area: sketch-1;
    max-width: 350px;
    align-self: center;
}
.sketch-2 {
    grid-area: sketch-2;
    max-width:350px;
    align-self: center;
}

.sketch-3 {
    grid-area: sketch-3;
    max-width:350px;
    align-self: center;
}

.testing-highlights{
    display: flex;
    flex-direction:column;
    gap: 16px;
    justify-content: space-between;
}

}}