:root {
    font-size: 18px;
}

body {
    background-image: linear-gradient(180deg, #192E10, #091503, #192E10);
    background-repeat: no-repeat;
    width: vw;
    margin: 0;
}

h1 {
    font-family: "Playfair Display";
    font-size: 2em;
    color: #192E10;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Playfair display';
    font-size: 1.7em;
    font-weight: 600;
    color: #192E10;
}

h3 {
    font-family: 'Nunito Sans';
    font-size: 1.2em;
    color: #192E10;
}

h4 {
    font-family: 'Playfair display';
    font-weight: 400;
    font-size: 1.1em;
    color: #192E10;
}

p {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-kerning: 5px;
    color: #192E10;
}

.nav a{
    text-decoration: none;
    color: #192E10
}
.nav a:hover {
    color: #D68D1F;
}

.intro {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 167%;
    letter-spacing: .05em;
    color: #f7f7f7;
    margin-top: -40px;
    padding-bottom: 10px;
}

.moreinfo {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    margin-bottom: 38px;
    color: #f7f7f7;
}

.grid_item_1 {
    width: 45%
}

.grid_item_2 {
    width: 45%;
}

.mylogo {
    position: absolute;
    left: 63%;
    max-width: 50%;
}

.subhead {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #192E10;
}

ul {
    list-style-type: none;
    position: bottom;
    padding-right: 56px;
    margin: 0;
    font-family: 'Playfair display';
    font-size: 1.2em;
    text-align: right;
}

li {
    display: inline;
    padding-left: 44px;
    padding-right: 44px;
    transition: linear .15s;
}

.logo-wrapper {
    margin-left: 100px;
    align-items: left;
    justify-content: center;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #FCF7F2;
    color: #192E10;
    padding-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 72px;
    margin-bottom: 93px;
    margin-top: 0;
    margin-left: 0;
    box-shadow: 0px 4px 2px #FCF7F2;
    z-index: 1;
}

.nav li {
    cursor: pointer;
}

.primary-button {
    background-color: #40AAE5;
    color: #f4f4f4;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    max-width: 350px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: .01em;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: ease-in .2s;
}

.primary-button:hover {
    background-color: #0392eb;
    color: #f4f4f470;
}

.secondary-button {
    background-color: #FAF2EB;
    color: #40AAE5;
    border: none;
    border-radius: 8px;
    border-color: #40AAE5;
    border: 2px;
    border-style: solid;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: .08em;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 32px;
    transition: ease-in .2s;
}

.secondary-button:hover {
    background-color: #c1b0a150;
}

.grid_item_2 {
    align-content: center;
    justify-content: center;
    position: static;
    top: 50%;
    left: 50%
}

.featured {
    background: #FCF7F2;
    padding-left: 100px;
    padding-bottom: 48px;
    padding-top: 20px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.home-item1 .home-item2 {
    max-width: 25em;
    height: 477px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home-item1 {
    grid-area: "home-item1";
}

.home-item2 {
    grid-area: "home-item2";
}

.item1 {
    max-width: 25em;
    height: 632px;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.item2 {
    max-width: 25em;
    height: 632px;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.item3 {
    max-width: 25em;
    height: 632px;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.item4 {
    max-width: 25em;
    height: 632px;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.a {
    padding-top: 40px;
    padding-bottom: 40px;
    width: auto;
}

.item_grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50% 1fr 2fr 1fr;
    grid-template-areas: "home-item1 home-item2";
    padding-top: 10px;
    margin-bottom: 0;
    column-gap: 3em;
}

.Hero_Grid {
    display: flex;
    justify-content: space-around;
    margin-bottom: 96px;
    margin-top: 250px;
    margin-left: 100px;
    margin-right: 100px;
    column-gap: 2em;
    position: sticky;
    top: 250px;
}

.footer {
    background-image: linear-gradient(180deg, #192E10, #091503);
    background-repeat: no-repeat;
    width: vw;
    margin: 0;
    transform: scale(1);
    padding-top: 80px;
}

.footer_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10em;
    padding-right: 100px;
    padding-left: 100px;
    align-items: center;
    justify-items: center;
}

.logo-grid {
    display: flex;
    justify-items: space-evenly;
    align-items: center;
}

.logo-grid-item {
    margin: 0 8px;
}

.image-container {
    max-width: 350px;
}

.more-projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-top: 60px
}

.more-projects-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 40px;
}

.projects_page_grid {
    display: grid;
    margin-top: 56px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 96px;
}

.projects_grid_wrapper {
    padding-top: 200px;
    padding-bottom: 88px;
}

.footer {
    background-color: #091503;
    height: 160px;
    padding-top: 72px;
}

.footername {
    font-family: 'Nunito sans';
    font-size: 16px;
    color: #f6f6f6;
    font-weight: 600;
}

.footertext {
    font-family: 'Nunito sans';
    font-size: 16px;
    color: #f6f6f6;
    font-weight: 400;
}

.contact {
    padding-top: 170px;
    background-color: #FCF7F2;
    padding-left: 100px;
    padding-right: 100px;
}

.contact-container {
    display: grid;
    padding-bottom: 48px;
    margin-top: 40px;
    max-width: 100%;
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .30fr 1fr .70fr;
    grid-template-areas: "name email subject" "message message message" "button button button"
}

#name {
    grid-area: name;
    display: flex;
    flex-direction: column;
    max-height: 70px;
    min-width: 120px;
}

#email {
    grid-area: email;
    display: flex;
    flex-direction: column;
    max-height: 70px;
    min-width: 120px;
}

#subject {
    grid-area: subject;
    display: flex;
    flex-direction: column;
    max-height: 70px;
    min-width: 120px;
}

#message {
    grid-area: message;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 20%;
    padding-right: 20%;
    min-width: 120px;
}

#button-container {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    max-height: 70px;
    min-width: 120px;
}

input {
    width: 100%;
    min-height: 48px;
    border: transparent;
    border-radius: 8px;
    margin-top: 8px;
    font-size: 1em;
    text-indent: 16px;
    outline: none;
}

textarea {
    width: 100%;
    height: 200px;
    border: transparent;
    border-radius: 8px;
    margin-top: 8px;
    font-size: 1em;
    font-family: "Nunito Sans";
    text-indent: 16px;
    outline: none;
    resize: none;
}

label {
    font-family: "Nunito Sans";
    font-weight: 600;
    color: #192E10;
}

@media screen and (max-width: 600px) {
    .contact-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .25fr .25fr .25fr 1fr .25fr;
        grid-template-areas: "name" "email" "subject" "message" "button"
    }
    .contact {
        padding-top: 35%;
        padding-left: 24px;
        padding-right: 24px;
    }
    #message {
        padding-left: 1%;
        padding-right: 1%;
    }
}

@media (max-width:1152px) {
    .intro {
        padding-bottom: 10px;
        font-size: 22px;
    }
    .moreinfo {
        font-size: 16px;
        line-height: 120%;
    }
    ul {
        font-size: 1em;
        padding-right: 40px;
    }
}

@media (max-width:768px) {
    .nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding-bottom: 16px;
    }
    .nav ul {
        text-align: center;
        justify-content: space-between;
    }

li {
    display: inline;
    transition: linear .15s;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-evenly;
}

.intro {
    padding-bottom: 64px;
    margin: 0;
}

.moreinfo {
    display: none
}

.Hero_Grid {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 120px;
    margin-left: 48px;
    margin-right: 48px;
    row-gap: 2em;
    position: sticky;
    top: 120px;
    align-items: center;
}

.grid_item_1 {
    width: 100%;
    align-items: center;
}

.grid_item_2 {
    width: 100%;
    height: 200px;
    justify-content: flex-start;
}

.mylogo {
    position: relative;
    left: 0;
    transform: scale(.40);
}

.featured {
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 48px;
    padding-top: 4px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.item_grid_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "home-item1" "home-item2";
    padding-top: 10px;
    margin-bottom: 0;
    row-gap: 5em;
}

.footer_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .5em;
    padding-right: 100px;
    padding-left: 100px;
    align-items: center;
    justify-items: center;
}

.footer {
    padding-top: 16px;
}

.footername {
    font-family: 'Nunito sans';
    font-size: 12px;
    color: #f6f6f6;
    font-weight: 600;
}

.footertext {
    font-family: 'Nunito sans';
    font-size: 12px;
    color: #f6f6f6;
    font-weight: 400;
}
}